DATABASE_URL="postgresql://user:pass@ep-xxx.eu-west-1.aws.neon.tech/sessions?sslmode=require"
TRUSTED_ORIGINS="http://localhost:3000,http://localhost:8081"
PORT=3001
BETTER_AUTH_SECRET="xxx"
BETTER_AUTH_URL="http://localhost:30